/* BACKGROUND COLOR */
html, body, #bodyTable, #bodyCell, .bodytable, .bodycolor, .bodycolor table {
  background-color: #EEEEEE;
}

/* CANVAS COLOR */
.containertable, .block, .block table, .headerblock, .canvascolor {
  background-color: #FFFFFF;
}

/* MENU AND FOOTER COLOR */
.menucolor, .footercolor, .footercolor table {
  background-color: #222222;
}

/* FONT COLOR */
html, body, table { color: #3C3C3C; }

body, table, #body_style, #backgroundTable, .ReadMsgBody, .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass th, .ExternalClass td, .ExternalClass div {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

html, body, #bodyTable, #bodyCell, .ReadMsgBody, .ExternalClass {
  width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

table, th, td {
  border-spacing: 0;
}

th {
  padding: 0;
  font-weight: normal;
}

.outsidelink {
  color: #3C3C3C;
}

.outsidelink a {
  color: #3C3C3C;;
}

/* STYLE NORMAL LINKS HERE */
a, .yshortcuts, .yshortcuts a, .yshortcuts a:link, #outlook a, a[href^="tel"], a[href^="sms"] {
  color: #3C3C3C;
  text-decoration: none;
  padding: 0;
}

a:visited, a:active, a:hover, a:focus, .yshortcuts a:visited, .yshortcuts a:active, .yshortcuts a:hover {
  text-decoration: underline !important;
}

/* STYLE TITLES HERE */
h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-family: Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  padding: 0;
  margin: 0 0 10px 0;
}

h1 { font-size: 20px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }
h6 { font-size: 10px; }

p {
  padding: 0;
  margin: 0 0 10px 0;
}

.block p:last-child, .block .img p {
  margin: 0 !important;
}

ul {
  list-style-type: square;
}

ul, ol {
  list-style-position: outside;
  padding-left: 17px;
}

.outlook ul, .outlook ol {
  list-style-position: inside !important;
  margin-left: 25px !important;
}

.outlook .outlookleft-width172 {
  width: 172px !important;
  margin-right: 20px;
}

.outlook .outlookleft-width270 {
  width: 270px !important;
  margin-right: 20px;
}

.outlook .outlookright-width172 {
  width: 172px !important;
  margin-left: 20px;
}

.outlook .outlookright-width270 {
  width: 270px !important;
  margin-left: 20px;
}

/* IMAGES */

img {
  display: block;
  border: 0;
  line-height: 100%;
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
}

img.widthfull {
  min-width: 100%;
}

:not(.outlook) img {
  max-width: 100% !important;
}

.imgleft img, img.imgleft {
  float: left;
  padding: 0 20px 10px 0;
}

.imgright img, img.imgright {
  float: right;
  padding: 0 0 10px 20px;
}

a img {
  border: 0;
}

/* STYLE LOGO ALT TEXT HERE */
img.logo {
  font-family: Times, serif;
  font-size: 30px;
  line-height: 60px;
}

.flat {
  line-height: 0px;
  font-size: 0px;
}

.flat img {
  line-height: 16px;
  font-size: 12px;
}

.flat p {
  margin: 0px;
  padding: 0px;
}

/* Use these on wrapper table to hide from desktop Outlook */
.on360-show, .on500-show, .on600-show {
  display: none;
  font-size: 0px;
  line-height: 0px;
  height: 0px;
  width: 0px;
  max-height: 0px;
}

/* Use this on wrapper div to hide from desktop Gmail */
.gmail-hide {
  display: none;
  overflow: hidden;
  float: left;
  width: 0px;
  max-height: 0px;
}

/* STYLES FOR DEAFULT BLOCKS */
.lineblock .center th {
  height: 2px;
  line-height: 2px;
  font-size: 2px;
}

.lineblock .border {
  border-top: 1px dotted #BBBBBB;
}

.headerblock th {
  font-size: 16px;
}

.headerblock p {
  margin: 0;
  padding: 0;
}

table.menublock , .menublock a {
  color: #CCCCCC;
}

.menublock table {
  border-collapse: separate;
}

.menublock a {
  display: block;
}

.menublock a:hover, .menublock a:active  {
  color: #FFFFFF;
  text-decoration: none;
}

.menublock a span {
  float: right;
}

.menublock .border {
  border-right: 1px solid #555555;
}

table.footerblock, .footerblock a {
  color: #CCCCCC;
}

.footerblock a {
  text-decoration: underline;
}

.footerblock .border {
  border-right: 1px solid #555555;
}

.footerblock p {
  margin: 0;
  padding: 0;
}

.height5 {
  height: 5px;
  font-size: 5px;
  line-height: 5px;
}

.height10 {
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}

.height15 {
  height: 15px;
  font-size: 15px;
  line-height: 15px;
}

.height20 {
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.height25 {
  height: 25px;
  font-size: 25px;
  line-height: 25px;
}

.height30 {
  height: 30px;
  font-size: 30px;
  line-height: 30px;
}

.height35 {
  height: 35px;
  font-size: 35px;
  line-height: 35px;
}

.height40 {
  height: 40px;
  font-size: 40px;
  line-height: 40px;
}

/* CUSTOME STYLES (These are styles added for clients custom layout) */
.greybackground {
  background-color: #F1F1F2;
}

th.archivelink p {
  font-size: 10px;
  line-height: 3px;
}

th.social_sm, th.social_sm a img {
  width: 25px;
  height: 25px;
}

th.social_lg, th.social_lg a img {
  width: 35px;
  width: 35px;
}

*[class] .aligncenter {
  text-align: center !important;
}

.purple th h1, th .purple h2, .purple th h3, .purple th h4, .purple th h5 {
  color: #B0006E;
}

.green h1, .green h2, .green h3, .green h4, .green h5 {

}

.orange h1, .orange h2, .orange h3, .orange h4, .orange h5 {

}

.blue h1, .blue h2, .blue h3, .blue h4, .blue h5 {

}

/* RESPONSIVE STYLES (Remove everything under this if the template should not be responsive.) */

@media all and (max-width: 600px) {

  /* BACKGROUND COLOR */
  html, body, #bodyTable, #bodyCell, .bodytable, .bodycolor {
    background-color: #FFFFFF !important;
  }

  /* Set block padding for mobile */
  *[class] .on600-padding {
    clear: both !important;
    padding: 0 20px !important;
  }

  *[class] img {
    display: inline-block !important;
    height: auto !important;
  }

  *[class] .menublock .border {
    border-right: 0 !important;
    border-bottom: 1px solid #555555 !important;
  }

  *[class] .menublock a {
    padding: 10px 15px !important;
  }

  *[class] .on600-hide {
    display: none !important;
  }

  *[class] .on600-show {
    display: block !important;
    font-size: 100% !important;
    line-height: 100% !important;
    height: auto !important;
    width: auto !important;
    max-height: none !important;
  }

  *[class] table.on600-show {
       display: table !important;
  }

  *[class] .on600-alignleft {
    text-align: left !important;
  }

  *[class] .on600-aligncenter {
    text-align: center !important;
  }

  *[class] .on600-alignright {
    text-align: right !important;
  }

  *[class] .on600-paddingbottom20 {
    padding-bottom: 20px !important;
  }

  *[class] .on600-marginright20 {
    margin-right: 20px !important;
  }

  *[class] .on600-marginleft20 {
    margin-left: 20px !important;
  }

  *[class] .on600-widthfull {
    width: 100% !important;
    min-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  *[class] th.on600-widthfull {
    clear: both !important;
    float: left !important;
  }

  *[class] table.on600-widthfull {
    clear: both !important;
  }

  *[class] .on600-width2percent {
    width: 2% !important;
  }

  *[class] .on600-width5percent {
    width: 5% !important;
  }

  *[class] .on600-width15percent {
    width: 15% !important;
  }

  *[class] .on600-width11percent {
    width: 10.75% !important;
  }

  *[class] .on600-width21percent {
    width: 21.25% !important;
  }

  *[class] .on600-width25percent {
    width: 25% !important;
  }

  *[class] .on600-width30percent {
    width: 30% !important;
  }

  *[class] .on600-width47percent {
    width: 47.5% !important;
  }

  *[class] .on600-width50percent {
    width: 50% !important;
  }

  *[class] .on600-width60percent {
    width: 60% !important;
  }

  *[class] .on600-width65percent {
    width: 65% !important;
  }

  *[class] .on600-width75percent {
    width: 75% !important;
  }

  *[class] .on600-height5 {
    height: 5px !important;
    font-size: 5px !important;
    line-height: 5px !important;
  }

  *[class] .on600-height10 {
    height: 10px !important;
    font-size: 10px !important;
    line-height: 10px !important;
  }

  *[class] .on600-width20 {
    width: 20px !important;
  }

  .gmail-hide {
    display: block !important;
    overflow: visible !important;
    float: none !important;
    width: auto !important;
    max-height: none !important;
  }
}

@media all and (max-width: 500px) {

  html, body, table {
    font-size: 14px !important;
    line-height: 20px !important;
    word-break: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
  }

  *[class] .on500-hide {
    display: none !important;
  }

  *[class] .on500-show {
    display: block !important;
    font-size: 100% !important;
    line-height: 100% !important;
    height: auto !important;
    width: auto !important;
    max-height: none !important;
  }

  *[class] table.on500-show {
    display: table !important;
  }

  *[class] .on500-widthfull {
    width: 100% !important;
    min-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  *[class] th.on500-widthfull {
    clear: both !important;
    float: left !important;
  }

  *[class] table.on500-widthfull {
    clear: both !important;
  }

  *[class] .on500-width30percent {
    width: 30% !important;
  }

  *[class] .on500-width65percent {
    width: 65% !important;
  }

  *[class] .on500-imgleft img {
    float: left !important;
    padding: 0 20px 10px 0 !important;
  }

  *[class] .on500-imgleft p.img {
    padding: 0 !important;
    margin: 0 !important;
  }
}

@media all and (max-width: 360px) {

  *[class] .on360-hide {
    display: none !important;
  }

  *[class] .on360-show {
    display: block !important;
    font-size: 100% !important;
    line-height: 100% !important;
    height: auto !important;
    width: auto !important;
    max-height: none !important;
  }

  *[class] .on360-widthfull {
    width: 100% !important;
    min-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  *[class] th.on360-widthfull {
    clear: both !important;
    float: left !important;
  }

  *[class] table.on360-widthfull {
    clear: both !important;
  }

  *[class] .on360-width40 {
    width: 40px !important;
  }

  *[class] .on360-height20 {
    height: 20px !important;
    font-size: 20px !important;
    line-height: 20px !important;
  }

  *[class] .on360-movetop, *[class] th.on360-movetop {
    display: table-header-group !important;
    float: none !important;
  }

  *[class] .on360-movecenter, *[class] th.on360-movecenter {
    display: table-row-group !important;
    float: none !important;
  }

  *[class] .on360-movebottom, *[class] th.on360-movebottom {
    display: table-footer-group !important;
    float: none !important;
  }
}
