@import "./reset/basic-reset";

//body {
//  background-color: #e6e6e6;
//  border: 0.5px orange dotted;
//}

.container {
  width: 100%;
}

#counter, #image-container, #button {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}

//.content {
//  overflow: hidden;
//}


/*==========================================
=                  The Menu                =
===========================================*/

#menu {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  max-width: 140px;
  width: 10%;
  min-width: 70px;
  background: purple;
  overflow-y: auto;
  max-height: 600px;

  #menu-title {
    margin: 10px;
    border-radius: 2px;
    background-color: rgba(255, 216, 255, 0.61);
    text-transform: uppercase;
    font: bold 1em;
  }
}


/*==========================================
=            The Cat Instances Image       =
==========================================*/
#image-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 600px;
  left: 50%;
  overflow: hidden;

  .imgBox {
    width: 10%;
    display: block;
    position: absolute;
    transform: translateX(-50%);
    word-break: break-word;
    overflow: hidden;
    opacity: 0;
    z-index: -1;

    img {
      width: 100%;
    }

    .image-label, .imgCounter {
      position: fixed;
      bottom: 5%;
      left: 50%;
      padding: 10px;
      transform: translateX(-50%);
      font: bold 1.5em 'Arial';
      background-color: rgba(214, 214, 214, 0.76);
      border-radius: 10px;
    }

    .imgCounter {
      bottom: 82%;
      padding: 6px 12px;
      Background-color: rgba(152, 188, 230, 0.76);
      top: 15px;
      bottom: auto;
    }
  }

  .active {
    opacity: 100;
    z-index: 4;
    width: 100%;
    left: 50%;
  }
}
